# ==========
# C++
# ==========

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ==========
# CMake
# ==========

# Compiled Object files
**/.DS_Store

# CMake exclusive
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*

# Local 

.idea/*.xml

out/build/**/*

[Bb][Uu][Ii][Ll][Dd]/

include/*
lib/*
bin/*
test/test_runner

# ==========
# Rust
# ==========

## File system
.DS_Store
desktop.ini

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.favorites.json
.settings/
.vs/

## Tool
**/.valgrindrc
**/.cargo
# Included because it is part of the test case
!**/tests/run-make/thumb-none-qemu/example/.cargo

## Configuration
**/config.toml
**/Makefile
**/config.mk
**/config.stamp
**/no_llvm_build

## Build
**/dl/
**/doc/
**/inst/
**/llvm/
**/mingw-build/
build/
!**/compiler/rustc_mir_build/src/build/
**/build-rust-analyzer/
**/dist/
**/unicode-downloads
**/target
**/src/bootstrap/target
**/src/tools/x/target
# Created by default with `src/ci/docker/run.sh`
**/obj/

## Temporary files
*~
**\#*
**\#*\#
.#*

## Tags
tags
tags.*
TAGS
TAGS.*

## Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/Scripts/
**/Lib/
**/Include/
**/pyvenv.cfg

## Node
**/node_modules
**/package-lock.json
**/package.json

## Rustdoc GUI tests
**/tests/rustdoc-gui/src/**.lock

## ThesisRecordBuilder
ThesisRecordBuilder/data/*
ThesisRecordBuilder/data_old/*
ThesisRecordBuilder/data_ex/out/*
ThesisRecordBuilder/data_ex/in/verdicts/*

## Rust WebServer
RustWebserver/backend/settings/base.yaml
RustWebserver/backend/settings/development.yaml
RustWebserver/backend/settings/production.yaml

## GoogleImagesScraper
GoogleImagesScraper/downloaded_images